body{
     background-image: url(../imgs/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header{
    position: relative;
    height: 100vh;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    margin: 0px;
    justify-content: center;
    background-image: url(../imgs/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
body .overlay{
    position: absolute;
    margin: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);
    background-image: linear-gradient(to top, #fff 0%, rgba(105, 90, 166, 0.35) 99%, rgba(105, 90, 166, 0.5) 100%);

    
}

.header-title{
    font-size: 4.4rem;
    font-weight: bold;
    opacity: .8;
    color: #212529;
    font-family: 'Baloo Paaji', cursive;
}

.header-subtitle{
    font-size: 1.4rem;
    font-weight:200;
    opacity: .8;
    color: #212529;
    font-family: 'Baloo Paaji', cursive;
}



/* CSS */
.button-1 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}


.button-1 span {
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}


@media (min-width: 768px) {
  .button-1 {
    font-size: 24px;
    min-width: 196px;
  }
}

